In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('carwale_unclean.csv')

In [24]:
df['price1']=df['price'].str.split(' ',expand=True)[1]

In [32]:
df['price2']=df['price'].str.split(' ',expand=True)[2].str.replace('Lakh','100000')

In [39]:
df['price2'].unique()

array(['100000', '10000000', None], dtype=object)

In [38]:
df['price2']=df['price2'].str.replace('Crore','10000000')

In [44]:
df[df['price2'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, name, price, year, kms, fuel, city, homedrive, emi, price1, price2]
Index: []

In [43]:
df['price2']=df['price2'].fillna(1)

In [50]:
df['price1']=df['price1'].str.replace(',','')

In [53]:
df['price1']=df['price1'].astype(float)

In [54]:
df['price2']=df['price2'].astype(int)

In [56]:
df['price']=df['price1']*df['price2']

In [62]:
df.drop(['price1'],axis=1,inplace=True)

In [63]:
df.drop(['price2'],axis=1,inplace=True)

In [65]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [68]:
df=df.rename(columns={'homedrive':'tags'})

In [77]:
df['company']=df['name'].str.split(' ',expand=True)[0]

In [80]:
df['company']=df['company'].str.replace('Maruti','Maruti Suzuki')

In [82]:
temp=df['name'].str.split(' ',expand=True)

In [111]:
x=temp_df.iloc[:,1:].shift(1,axis=1).values

In [110]:
temp_df=temp[temp[0]!='Maruti']

In [112]:
temp.loc[temp_df.index,temp_df.columns[1:]]=x

In [115]:
df['car_name']=temp[2]

In [122]:
df['engine_spec']=temp[4]

In [125]:
temp[2].unique()

array(['Baleno', 'Verna', 'Vitara', 'Hector', 'Wagon', '3', 'Innova',
       'S90', 'Alto', 'Swift', 'Grand', 'Ciaz', 'X1', 'City', 'Amaze',
       'Corolla', 'Ertiga', 'Kwid', 'Ameo', 'EcoSport', 'Elite', 'Jazz',
       'XL6', 'Tiago', 'Mobilio', 'Creta', 'Santro', 'Endeavour',
       'XUV500', 'Altroz', 'Astor', 'Triber', 'GTI', 'GLS', 'Seltos',
       'Nexon', 'Q3', 'WR-V', 'Octavia', 'Rover', 'Polo', 'TUV300',
       'E-Class', 'A4', 'GLC', 'A3', 'Eon', 'Dzire', 'Duster', 'Etios',
       'Scorpio', 'i20', 'Terrano', 'Brio', 'C-Class', '5', '718', 'S60',
       'Compass', 'Accord', 'Estilo', 'Celerio', 'Xcent', 'i10', 'Aspire',
       'Yaris', 'Superb', 'Harrier', 'Sunny', 'Laura', 'Thar', 'S-Presso',
       'Ignis', 'Glanza', 'V40', '6', 'X5', 'Cooper', 'XUV300', 'Safari',
       'Venue', 'Sonet', 'XC40', 'Ritz', 'Rapid', 'Fortuner', 'redi-GO',
       'Alturas', 'S-Cross', 'Elantra', 'Civic', 'XUV700', 'BR-V', 'CR-V',
       'Vento', 'Gloster', 'ZS', 'X3', 'Jetta', 'i4', 'GLA', 'Tigor',
       'Lodgy', 'Cruze', 'Q7', 'Taigun', 'Carens', 'GLE', 'Urban', 'Q5',
       'Figo', 'Camry', 'Aura', 'B-Class', 'CLA', 'Cayenne', '7', 'A8',
       'XE', 'S5', 'XJ', 'Continental', 'Evalia', 'GO', 'Slavia', 'Land',
       'Kushaq', 'M-Class', 'A6', 'Tiguan', 'SX4', 'Zest', 'Eeco',
       'Sonata', 'Hexa', 'Marazzo', 'Micra', 'Magnite', 'AMG', 'R-Class',
       'Pulse', 'LX', 'XC90', 'F-Pace', 'Carnival', 'D-Max', 'NX',
       'Abarth', 'e2o', 'Yeti', 'Z4', 'T-Roc', 'MU-X', 'Pajero', 'Santa',
       'XC60', 'Kicks', 'C5', 'XF', 'Omni', 'Beat', 'C-Coupe', 'X7',
       'S-Class', 'A-Star', 'Manza', 'Fabia', 'EQC', 'Tucson',
       'Countryman', 'Bolero', 'KUV100', 'Kiger', 'Alcazar', 'Fiesta',
       'MU7', 'Enjoy', 'Freestyle'], dtype=object)

In [148]:
temp[temp[2]=='Fiesta']

         0    1       2        3    4    5     6     7     8     9
1979  Ford  NaN  Fiesta  Classic  LXi  1.6  None  None  None  None

In [135]:
temp[3].value_counts()

R            135
VXi          132
i10           88
i20           68
V             67
            ...
V-Cross        1
W8(O)          1
Facelift       1
300h           1
Signature      1
Name: 3, Length: 237, dtype: int64

In [150]:
list=['Vitara','3','5','6','7','Wagon','Grand','Corolla','Elite','Compass','Urban']

In [161]:
temp_df1=temp[~(temp[2].isin(list))]

In [170]:
y=temp_df1.iloc[:,3:].shift(1,axis=1).values

In [171]:
temp.loc[temp_df1.index,temp_df1.columns[3:]]=y

In [179]:
temp[3]=temp[3].fillna(' ')

In [182]:
temp[10] = temp[2].str.cat(temp[3], sep=' ')

In [185]:
df['car_name']=temp[10]

In [186]:
df

,name,price,year,kms,fuel,city,tags,emi,company,car_name,engine_spec
0,Maruti Suzuki Baleno Delta 1.2,476000.0,2016,"79,710 km",Petrol,Delhi,NaN,"EMI starts at₹7,904",Maruti Suzuki,Baleno,1.2
1,Hyundai Verna Fluidic 1.6 VTVT SX,560000.0,2014,"67,000 km",Petrol,Delhi,Home Test Drive,"EMI starts at₹9,299",Hyundai,Verna,1.6
2,Maruti Suzuki Vitara Brezza ZDi,670000.0,2017,"78,184 km",Diesel,Delhi,Home Test Drive,"EMI starts at₹11,126",Maruti Suzuki,Vitara Brezza,ZDi
3,MG Hector Sharp 1.5 DCT Petrol [2019-2020],1790000.0,2019,"42,046 km",Petrol,Gurgaon,NaN,NaN,MG,Hector,1.5
4,Maruti Suzuki Wagon R 1.0 LXI CNG,315000.0,2015,"67,738 km",CNG,Delhi,Great Price,"EMI starts at₹5,231",Maruti Suzuki,Wagon R,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2464,Kia Seltos GTX 1.4,1653000.0,2020,"10,586 km",Petrol,Chennai,NaN,"EMI starts at₹27,450",Kia,Seltos,1.4
2465,Nissan Magnite XV Turbo CVT,996000.0,2022,"2,738 km",Petrol,Chennai,NaN,"EMI starts at₹16,540",Nissan,Magnite,Turbo
2466,Hyundai Santro Sportz AMT,495000.0,2022,"68,595 km",Petrol,Chennai,Home Test Drive,"EMI starts at₹8,220",Hyundai,Santro,AMT
2467,Honda Amaze 1.2 S i-VTEC,674000.0,2019,"93,651 km",Petrol,Chennai,Home Test Drive,"EMI starts at₹11,192",Honda,Amaze,S
2468,Skoda Rapid Style 1.6 MPI,846000.0,2018,"61,153 km",Petrol,Chennai,Home Test Drive,"EMI starts at₹14,054",Skoda,Rapid,1.6

In [187]:
df.drop(['engine_spec'],axis=1,inplace=True)

In [193]:
temp.sample(15)

,0,1,2,3,4,5,6,7,8,9,10
1076,Maruti,Suzuki,Ignis,,Sigma,1.2,MT,None,None,None,Ignis
1057,Maruti,Suzuki,XL6,,Zeta,MT,Petrol,None,None,None,XL6
2383,Maruti,Suzuki,Alto,,VXI,None,None,None,None,None,Alto
1843,Honda,NaN,City,,V,None,None,None,None,None,City
1289,Volkswagen,NaN,Polo,,GT,TSI,None,None,None,None,Polo
70,Land,NaN,Rover,,Discovery,Sport,HSE,7-Seater,None,None,Rover
1598,Renault,NaN,Kwid,,1.0,RXT,Opt,[2016-2019],None,None,Kwid
1327,Jaguar,NaN,XF,,3.0,V6,Premium,Luxury,None,None,XF
1657,Maruti,Suzuki,Wagon,R,1.0,VXI,None,None,None,None,Wagon R
1779,Honda,NaN,WR-V,,VX,MT,Petrol,None,None,None,WR-V
106,Maruti,Suzuki,Ertiga,,VDI,SHVS,None,None,None,None,Ertiga
490,Honda,NaN,CR-V,,2.4L,4WD,AVN,None,None,None,CR-V
1838,Hyundai,NaN,Verna,,Fluidic,1.6,CRDi,SX,None,None,Verna
416,Honda,NaN,Civic,,ZX,CVT,Petrol,[2019-2020],None,None,Civic
17,Renault,NaN,Kwid,,RXT,[2015-2019],None,None,None,None,Kwid

In [196]:
df['emi']=df['emi'].str.replace('EMI starts at₹','')

In [200]:
df['emi']=df['emi'].str.replace(',','')

In [202]:
df['tags'].unique()

array([nan, 'Home Test Drive', 'Great Price', 'Just Arrived',
       'Quality Report', 'Newly Launched'], dtype=object)

In [205]:
df['tags']=df['tags'].fillna('No Tag')

In [208]:
df['kms']=df['kms'].str.replace('km','')

In [209]:
df['kms']=df['kms'].str.replace(',','')

In [212]:
df=df.rename(columns={'emi':'starting_emi'})

In [215]:
df.to_csv('carwale_cleaned.csv')

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2469 entries, 0 to 2468
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          2469 non-null   object
 1   price         2469 non-null   float64
 2   year          2469 non-null   int64
 3   kms           2469 non-null   object
 4   fuel          2469 non-null   object
 5   city          2469 non-null   object
 6   tags          2469 non-null   object
 7   starting_emi  2099 non-null   object
 8   company       2469 non-null   object
 9   car_name      2469 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 193.0+ KB